*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#picContainer{
    background-color: #D26900;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#header{
    width:80%;
    height: 100px;
    padding-top: 10px;
    background-color: darkcyan;
    text-align: center;
}
#main{
    display: flex;
    background-color: darkturquoise;
}
logo{
    background-color: blueviolet;
    width: 20%;
    height: 100px;
    padding: 10px;
    text-align: center;
}
#section{
    width: 80%;
    height: 100%;
    background-color: rgb(152,230,230);
    padding: 10px;
}
aside{
    background-color: red;
    width: 20%;
    height: 70%;
    padding: 10px;
    text-align: center;
}
nav{
    background-color: yellow;
    height: 700px;
    text-align: center;
}
#article{
    width:80%;
    background-color: green;
    text-align: center;
    padding-right:5%;
    padding-left: 5%;
}
#display{
    background-color: orange;
    text-align: center;
    height: 300px;
    margin: 50px;
}
.small_pic{
    width: 100px;
}
section{
    background-color: yellow;
    margin-top: 10px;
    height: 700px;
    text-align: center;
}
#footer{
    height: 140px ;
    width: 100%;
    background-color: darkgray;
}